<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XLJSegScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17DCDF681DB4BF2E00AF3EF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17DCDF811DB4BF2E00AF3EF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17DCDF8C1DB4BF2E00AF3EF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
